<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <shopgate_export>
            <categories>
                <nav_only>0</nav_only>
            </categories>
        </shopgate_export>
    </default>
</config>
